@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quảng lý ng dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách ng dùng
}
@section jsFooter{
    <script src="/Assets/admin/js/controller/userController.js"></script>
    @*<script src="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/admin/js/demo/datatables-demo.js"></script>
    <script src="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>*@


}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            @using (Html.BeginForm("Index", "User", FormMethod.Get))
                            {

                                <div class="input-group">
                                    <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control bg-light" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">

                                    <div class="col-md-1"></div>
                                    <div class="input-group-btn">
                                        <a class="btn btn-primary" href="/Admin/User/Create">Thêm mới</a>
                                    </div>
                                </div>


                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 72px;">tài khoảng </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 103px;">Ten</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 54px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 69px;">Trạng thái</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">#</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Salary</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.ID">
                                            <td>@item.UserName</td>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt":"Khóa")</a></td>

                                            <td>
                                                <a href="/Admin/User/Edit/@item.ID">Sửa</a>
                                                |
                                                @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID.ToString().Trim() }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xoá bản ghi này?",
                                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                                               HttpMethod = "Delete"
                                           })
                                            </td>
                                            <td>@item.GroupID</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                        </div><div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

