<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />
    @RenderSection("metaFB", required: false)
    
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->
    <!-- Animate.css -->
    @Styles.Render("~/Content/css")
    @*    @Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="/Assets/client/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/Assets/client/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Assets/client/css/bootstrap.css">



    <!-- Flexslider  -->
    <link rel="stylesheet" href="/Assets/client/css/flexslider.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/Assets/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/client/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/Assets/client/css/style.css">

    <link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />


    <!-- Modernizr JS -->
    <script src="/Assets/client/js/modernizr-2.6.2.min.js"></script>

    @RenderSection("jsHeader", required: false)

</head>
<body>
    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-2">
                        <div id="fh5co-logo"><a href="index.html">Shop.</a></div>
                    </div>
                    @{Html.RenderAction("MainMenu", "Home");}
                    @{Html.RenderAction("HeaderCart", "Home"); }
                </div>

            </div>
        </nav>



        @RenderBody()

        <footer id="fh5co-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 fh5co-widget">
                        <h3>Shop.</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                        <ul class="fh5co-footer-links">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Meetups</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Handbook</a></li>
                            <li><a href="#">Held Desk</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                        <ul class="fh5co-footer-links">
                            <li><a href="#">Find Designers</a></li>
                            <li><a href="#">Find Developers</a></li>
                            <li><a href="#">Teams</a></li>
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a> &amp; <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                        </p>
                        <p>
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Assets/client/js/jquery.min.js"></script>


    <!-- jQuery Easing -->

    <script src="/Assets/client/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>




    <!-- Bootstrap -->
    <script src="/Assets/client/js/bootstrap.min.js"></script>

    <script src="~/Assets/client/js/controller/autocomplete.js"></script>
    <!-- Waypoints -->
    <script src="/Assets/client/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="/Assets/client/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="/Assets/client/js/jquery.countTo.js"></script>
    <!-- Flexslider -->
    <script src="/Assets/client/js/jquery.flexslider-min.js"></script>
    <!-- Main -->
    <script src="/Assets/client/js/main.js"></script>




    @RenderSection("jsFooter", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
